.jari-card {
  max-width: 680px;
  margin: 0 auto;
  padding: 25px 10px;
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
}

.jari-card h2 {
  margin-top: 0;
  color: white;
  font-size: 28px;
  margin-bottom: 15px;
}

.jari-card p {
  color: white;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 0;
}

.jari-line {
  width: 60px;
  height: 4px;
  background: white;
  margin: 0 auto 22px auto;
  border-radius: 5px;
}
